<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" parallel="tests" name="Suite">
	<parameter name="url" value="http://localhost:8888"></parameter>
	<parameter name="browser" value="chrome"></parameter>
	<parameter name="username" value="admin"></parameter>
	<parameter name="password" value="admin"></parameter>

	<test thread-count="1" parallel="tests" name="Test">
		<classes>
			<class name="datadriventesting.ReadDataFromTestNgXmlTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
